<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>header</title>
</head>
<body>
<header th:fragment="header">
    <!-- top navigation -->
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="javascript:;"
                                class="user-profile dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false"> <img
                        th:src="@{/images/img.jpg}" src="../static/images/img.jpg"
                        alt=""> <span
                        class=" fa fa-angle-down" th:text="${session.user.usrName}">用户名</span> </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a
                                th:href="@{/logout}" href="/logout"><i
                                class="fa fa-sign-out pull-right"></i>退出</a>
                        </li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">

                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list"
                        role="menu">
                        <li><a> <span class="image"><img
                                th:src="@{/images/img.jpg}" src="../static/images/img.jpg"
                                alt="Profile Image"/>
                                </span> <span> <span>John Smith</span> <span class="time">3
                                            mins ago</span> </span> <span class="message"> Film festivals used
                                        to be do-or-die moments for movie makers. They were where...
                                </span> </a></li>
                        <li><a> <span class="image"><img
                                th:src="@{/images/img.jpg}" src="../static/images/img.jpg"
                                alt="Profile Image"/>
                                </span> <span> <span>John Smith</span> <span class="time">3
                                            mins ago</span> </span> <span class="message"> Film festivals used
                                        to be do-or-die moments for movie makers. They were where...
                                </span> </a></li>
                        <li><a> <span class="image"><img
                                th:src="@{/images/img.jpg}" src="../static/images/img.jpg"
                                alt="Profile Image"/>
                                </span> <span> <span>John Smith</span> <span class="time">3
                                            mins ago</span> </span> <span class="message"> Film festivals used
                                        to be do-or-die moments for movie makers. They were where...
                                </span> </a></li>
                        <li><a> <span class="image"><img
                                th:src="@{/images/img.jpg}" src="../static/images/img.jpg"
                                alt="Profile Image"/>
                                </span> <span> <span>John Smith</span> <span class="time">3
                                            mins ago</span> </span> <span class="message"> Film festivals used
                                        to be do-or-die moments for movie makers. They were where...
                                </span> </a></li>
                        <li>
                            <div class="text-center">
                                <a> <strong>See All Alerts</strong> <i
                                        class="fa fa-angle-right"></i> </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- /top navigation -->
</header>
</body>
</html>