<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>left</title>
</head>
<body>
<left th:fragment="left">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a th:href="@{/main}" href="/main" class="site_title">
                <i class="fa fa-paw"></i>
                <span>CZKT CRM</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img th:src="@{/images/img.jpg}" src="../static/images/img.jpg"
                     alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2 th:text="${session.user.usrName}"></h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3 th:text="${session.user.usrName}">用户名</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-edit"></i> 营销管理 <span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>
                            <a href="/chance/list" th:href="@{/chance/list}">销售机会管理</a>
                        </li>
                        <li>
                            <a href="/plan/list" th:href="@{/plan/list}">客户开发计划</a>
                        </li>

                    </ul>
                </li>
                    <li><a><i class="fa fa-edit"></i> 客户管理 <span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="/customer/list" th:href="@{/customer/list}">客户信息管理</a>
                            </li>
                            <li>
                                <a href="/cstLost/list" th:href="@{/cstLost/list}">客户流失管理</a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> 服务管理 <span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="/cstervice/adds" th:href="@{/cstervice/adds}">服务创建</a>
                            </li>
                            <li>
                                <a href="/cstservice/list" th:href="@{/cstservice/list}">服务分配</a>
                            </li>
                            <li>
                                <a href="/cstservice/dispose" th:href="@{/cstservice/dispose}">服务处理</a>
                            </li>
                            <li>
                                <a href="/cstservice/feedback" th:href="@{/cstservice/feedback}">服务反馈</a>
                            </li>
                            <li>
                                <a href="/cstservice/pigeonhole" th:href="@{/cstservice/pigeonhole}">服务归档</a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> 统计报表 <span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="/statistics/listContribution" th:href="@{/statistics/listContribution}">客户贡献分析</a>
                            </li>
                            <li>
                                <a href="/statistics/constitute" th:href="@{/statistics/constitute}">客户构成分析</a>
                            </li>
                            <li>
                                <a href="/statistics/serve" th:href="@{/statistics/serve}">客户服务分析</a>
                            </li>
                            <li>
                                <a href="/statistics/list" th:href="@{/statistics/list}">客户流失分析</a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> 基础数据 <span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="/basics/list" th:href="@{/basics/list}">客户等级管理</a>
                            </li>
                            <li>
                                <a href="/serviceType/list" th:href="@{/serviceType/list}">服务类型管理</a>
                            </li>
                            <li>
                                <a href="/customerbasics/list" th:href="@{/customerbasics/list}">客户地区管理</a>
                            </li>
                            <li>
                                <a href="/Product/list" th:href="@{/Product/list}">查询产品信息</a>
                            </li>
                            <li>
                                <a href="/storage/list" th:href="@{/storage/list}">查询库存</a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-edit"></i> 权限管理 <span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="/user/list" th:href="@{/user/list}">用户管理</a>
                            </li>
                            <li>
                                <a href="/role/list" th:href="@{/role/list}">角色管理</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="设置">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="全屏">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="锁定">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="退出"
               th:href="@{/logout}" href="/logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</left>
</body>
</html>