<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>客户信息管理</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            客户信息>历史信息<i class="fa fa-user"></i>
                            <small>
                                - 您可以通过搜索或者其他的筛选项对用户的信息进行编辑、删除等管理操作。^_^
                            </small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="post" action="/orders/save" th:action="@{/orders/save}">
                            <input type="hidden" name="pageIndex" value="1" id="fy"/>
                            <ul>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">客户名称</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="custName" type="text" th:value="${cstCustomer.custName}"
                                                   class="form-control col-md-6 col-xs-12" value="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">客户编号</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input name="custNo" type="text" th:value="${cstCustomer.custNo}"
                                               class="form-control col-md-6 col-xs-12" value="">
                                    </div>
                                </div>
                            </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30"></p>
                        <div id="datatable-responsive_wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="/chance/add" th:href="@{/chance/add}"
                                       class="btn btn-success btn-sm">关于</a>
                                    <a id="back"
                                       class="btn btn-success btn-sm">返回</a>
                                    <table id="datatable-responsive"
                                           class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
                                           cellspacing="0" width="100%" role="grid"
                                           aria-describedby="datatable-responsive_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="First name: activate to sort column descending"
                                                aria-sort="ascending">
                                                订单编号
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                日期
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                               送货地址
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                状态
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!--/*@thymesVar id="userPager" type="org.springframework.data.domain.Page"*/-->
                                        <tr role="row" class="odd" th:each="ordersStat:${ordersStatPage.getContent()}">
                                            <td tabindex="0" class="sorting_1" th:text="${ordersStat.odrId}">odrId</td>
                                            <td th:text="${ordersStat.odrDate}">odrDate</td>
                                            <td th:text="${ordersStat.odrAddr}">odrAddr</td>
                                            <td th:text="${ordersStat.odrStatus}">odrStatus</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-danger">点击操作</button>
                                                    <button type="button" class="btn btn-danger dropdown-toggle"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a class="editInfo" href="/ordersStat/edit?usrId=1" th:href="@{/ordersStat/edit(odrId=${ordersStat.odrId})}"
                                                               data-toggle="tooltip" data-placement="top" title=""
                                                               data-original-title="查看详情">查看详情</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-sm-5">
                                        <div class="dataTables_info" id="datatable-responsive_info" role="status" aria-live="polite">
                                            共<span th:text="${ordersStatPage.totalElements}">1</span>条记录
                                            <span th:text="${ordersStatPage.number+1}">1</span>
                                            /
                                            <span th:text="${ordersStatPage.totalPages}">1</span>页
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="datatable_responsive_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button" th:if="${ordersStatPage.number gt 0 }">
                                                    <a href="javascript:page_nav(document.forms[0],1);"
                                                       aria-controls="datatable-responsive" data-dt-idx="0"
                                                       tabindex="0">首页</a>
                                                </li>
                                                <li class="paginate_button" th:if="${ordersStatPage.number gt 0 }">
                                                    <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${ordersStatPage.number}+');'"
                                                       aria-controls="datatable-responsive" data-dt-idx="1"
                                                       tabindex="0">上一页</a>
                                                </li>
                                                <li class="paginate_button" th:if="${(ordersStatPage.number+1) lt ordersStatPage.totalPages }">
                                                    <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${ordersStatPage.number+2}+');'"
                                                       aria-controls="datatable-responsive" data-dt-idx="1"
                                                       tabindex="0">下一页</a>
                                                </li>
                                                <li class="paginate_button" th:if="${(ordersStatPage.number+1) lt ordersStatPage.totalPages}">
                                                    <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${ordersStatPage.totalPages}+');'"
                                                       aria-controls="datatable-responsive" data-dt-idx="7"
                                                       tabindex="0">最后一页</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="js">
    $(document).ready(function(){
        $("#back").on("click",function(){
            window.history.back();
        });
    });
</script>
<script layout:fragment="js">
    function page_nav(dom,index){
        $("#fy").val(index);
        $(dom).submit();
    }

    function doDel(obj,usrId){
        if(confirm("你确定需要删除该用户信息吗？")){
            $.ajax({
                type:"POST",
                url:"/chance/del",
                data:"usrId="+usrId,
                dataType:"json",
                success:function(data){
                    if(data.delResult == "true"){//删除成功：移除删除行
                        alert("删除成功");
                        $(obj).parents("tr").remove();
                    }
                },
                error:function(data){
                    alert("对不起，删除失败");
                }
            });
        }
    }
</script>
</html>