<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>客户贡献分析</title>
    <script src="http://s1.bdstatic.com/r/www/cache/ecom/esl/1-6-10/esl.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            客户贡献分析 <i class="fa fa-user"></i>
                            <small>
                                - 您可以通过搜索或者其他的筛选项对用户的信息进行编辑、删除等管理操作。^_^
                            </small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="post" action="/contribution/list" th:action="@{/contribution/list}">
                            <input type="hidden" name="pageIndex" value="1" id="fy"/>
                            <ul>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">客户名称</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="custName" type="text" th:value="${custName}"
                                                   class="form-control col-md-6 col-xs-12" value="">
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <button type="submit" class="btn btn-primary"> 查 &nbsp;&nbsp;&nbsp;&nbsp;询</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30"></p>
                        <div id="datatable-responsive_wrapper"
                             class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a  th:onclick="'javascript:statistical()'"
                                       class="btn btn-success btn-sm">统计图</a>
                                    <a href="export/cst" th:href="@{/export/cst}"
                                       class="btn btn-success btn-sm">Exce</a>
                                    <a href="/user/add" th:href="@{/statement/pdf}"
                                       class="btn btn-success btn-sm">PDF文件</a>
                                    <table id="datatable-responsive"
                                           class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
                                           cellspacing="0" width="100%" role="grid"
                                           aria-describedby="datatable-responsive_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="First name: activate to sort column descending"
                                                aria-sort="ascending">客户名称
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                值
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd" th:each="d:${Page}">
                                            <td th:text="${d.dictItem}">usrName</td>
                                            <td th:text="${d.money}">价格</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="m" style="height:400px">

                        </div>
                    </div>
<!--                    <div class="col-sm-5">-->
<!--                        <div class="dataTables_info" id="datatable-responsive_info" role="status" aria-live="polite">-->
<!--                            共<span th:text="${custGxList.totalElements}">1</span>条记录-->
<!--                            <span th:text="${custGxList.number+1}">1</span>-->
<!--                            /<span th:text="${custGxList.totalPages}">1</span>页-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-7">-->
<!--                        <div class="dataTables_paginate paging_simple_numbers" id="datatable_responsive_paginate">-->
<!--                            <ul class="pagination">-->
<!--                                <li class="paginate_button" th:if="${custGxList.number gt 0 }">-->
<!--                                    <a href="javascript:page_nav(document.forms[0],1);"-->
<!--                                    aria-controls="datatable-responsive" data-dt-idx="0"-->
<!--                                    tabindex="0">首页</a>-->
<!--                                </li>-->
<!--                                <li class="paginate_button" th:if="${custGxList.number gt 0 }">-->
<!--                                    <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${custGxList.number}+');'"-->
<!--                                       aria-controls="datatable-responsive" data-dt-idx="1"-->
<!--                                       tabindex="0">上一页</a>-->
<!--                                </li>-->
<!--                                <li class="paginate_button" th:if="${(custGxList.number+1) lt custGxList.totalPages }">-->
<!--                                    <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${custGxList.number+2}+');'"-->
<!--                                       aria-controls="datatable-responsive" data-dt-idx="1"-->
<!--                                       tabindex="0">下一页</a>-->
<!--                                </li>-->
<!--                                <li class="paginate_button" th:if="${(custGxList.number+1) lt custGxList.totalPages}">-->
<!--                                    <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${custGxList.totalPages}+');'"-->
<!--                                       aria-controls="datatable-responsive" data-dt-idx="7"-->
<!--                                       tabindex="0">最后一页</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

</div>
<script src="http://s1.bdstatic.com/r/www/cache/ecom/esl/1-6-10/esl.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script layout:fragment="js">

        function statistical() {
            $.ajax({
                type: "GET",
                url: "/statement/cal",
                data: "",
                dataType: "json",
                success: function (data) {
                    alert(data['name'])
                    require.config({
                        paths:{
                            'echarts' : 'http://echarts.baidu.com/build/echarts',
                            'echarts/chart/bar' : 'http://echarts.baidu.com/build/echarts'
                        }
                    });
                    require(
                        [
                            'echarts',
                            'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
                        ],
                        function (ec) {
                        var option = {
                        tooltip: {
                            show: true
                        },
                        legend: {
                            data: ['销量1']
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: data['name'],
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                "name": "销量",
                                "type": "bar",
                                "data": data['sum']
                            }
                        ]
                    };
                    var myChart = ec.init(document.getElementById("m"));
                    // 为echarts对象加载数据
                    myChart.setOption(option);
                }
                )}
            }
        );
        }
</script>
</body>

</html>