<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<TITLE>客户开发计划</TITLE>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link th:href="@{/localcss/crmlist.css}" href="../static/localcss/crmadd.css" rel="stylesheet">
	</head>

	<body class="nav-md">
	<div layout:fragment="content">
		<div class="">
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>客户开发计划&nbsp; &gt; 制定计划 <i class="fa fa-user"></i></h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<form action="/plan/edit" th:action="@{/plan/edit}"   method="post">
								<div class="clearfix"></div>
								<div class="form-horizontal form-label-left">
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">编号<span
												class="required">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input class="form-control col-md-7 col-xs-12" readonly="readonly"
												   data-validate-length-range="20"
												   data-validate-words="1" name="chcId" th:value="${chance.chcId}" type="text">
										</div>
									</div>
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">机会来源 <span
												class="required">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input class="form-control col-md-7 col-xs-12"
												   data-validate-length-range="20"
												   data-validate-words="1" name="chcSource" th:value="${chance.chcSource}"type="text">
										</div>
									</div>

									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">客户名称 <span
												class="required">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input class="form-control col-md-7 col-xs-12"
												   data-validate-length-range="20"
												   data-validate-words="1" name="chcCustName" th:value="${chance.chcCustName}" type="text">
										</div>
									</div>
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">成功机率 <span
												class="required">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input class="form-control col-md-7 col-xs-12"
												   data-validate-length-range="20"
												   data-validate-words="1" name="chcRate" th:value="${chance.chcRate}" type="text">
										</div>
									</div>
									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">概要 <span
												class="required">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input class="form-control col-md-7 col-xs-12"
												   data-validate-length-range="20"
												   data-validate-words="1" name="chcTitle" th:value="${chance.chcTitle}" type="text">
										</div>
									</div>

									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">联系人 <span
												class="required">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input class="form-control col-md-7 col-xs-12"
												   data-validate-length-range="20"
												   data-validate-words="1" name="chcLinkman" th:value="${chance.chcLinkman}" type="text">
										</div>
									</div>

									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">联系人电话 <span
												class="required">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input class="form-control col-md-7 col-xs-12"
												   data-validate-length-range="20"
												   data-validate-words="1" name="chcTel" th:value="${chance.chcTel}" type="text">
										</div>
									</div>

									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">机会描述 <span
												class="required">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<textarea class="form-control col-md-7 col-xs-12" name="chcDesc" th:text="${chance.chcDesc}"></textarea>
										</div>
									</div>

									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">创建人 <span
												class="required">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input class="form-control col-md-7 col-xs-12" readonly="readonly"
												   data-validate-length-range="20" data-validate-words="1" type="text"
												   name="chcCreateId" th:value="${session.user.usrId}" >
										</div>
									</div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">创建名 <span
                                                class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12" readonly="readonly"
                                                   data-validate-length-range="20" data-validate-words="1" type="text"
                                                   name="chcCreateBy" th:value="${session.user.usrName}" >
                                        </div>
                                    </div>

									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">创建时间 <span
												class="required">*</span></label>
<!--										<div class="col-md-6 col-sm-6 col-xs-12">-->
<!--											<input id="t1" readonly="readonly" class="form-control col-md-7 col-xs-12"-->
<!--												   data-validate-length-range="20" data-validate-words="1" th:value="${time}"-->
<!--												   name="chcCreateDate" type="text">-->
<!--										</div>-->
									</div>

									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">指派给 <span
												class="required">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<select class="form-control" required="required" name="chcDueTo" th:value="${chance.chcDueTo}">
												<option value="1">请选择...</option>
												<option value="小明">小明</option>
												<option value="旺财">旺财</option>
												<option value="球球">球球</option>
												<option value="孙小美">孙小美</option>
												<option value="周洁轮">周洁轮</option>
											</select>
										</div>
									</div>

									<div class="item form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">指派时间 <span
												class="required">*</span></label>
<!--										<div class="col-md-6 col-sm-6 col-xs-12">-->
<!--											<input id="t2" readonly="readonly " class="form-control col-md-7 col-xs-12 "-->
<!--												   data-validate-length-range="20 " data-validate-words="1 "-->
<!--												   name="chcDueDate" th:value="${time}" type="text">-->
<!--										</div>-->
									</div>

									<div class="ln_solid "></div>
									<div class="form-group ">
										<div class="col-md-6 col-md-offset-3 ">
											<button id="send" type="submit" class="btn btn-success">保存</button>
											<button type="button" class="btn btn-primary" id="back">返回</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
	<script layout:fragment="js">
		$(document).ready(function(){
			$("#back").on("click",function(){
				window.history.back();
			});
		});
	</script>
	</html>