<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>客户等级管理</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            客户等级管理 <i class="fa fa-user"></i>
                            <small>
                                - 您可以通过搜索或者其他的筛选项对用户的信息进行编辑、删除等管理操作。^_^
                            </small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="get" action="/customerbasics/add_dict" th:action="@{/customerbasics/add_dict}">

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">值 <span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="20"
                                           data-validate-words="1" name="dictItem" th:value="${basDict.dictItem}" type="text">
                                </div>
                            </div>
                                  <button type="submit" class="btn btn-primary"> 保存</button>
                                    <button  type="button" id="back"class="btn btn-primary"> 返回</button>
                        </form>
                    </div>
                </div>
            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="js">
    function page_nav(dom,index){
        $("#fy").val(index);
        $(dom).submit();
    }
    $(document).ready(function(){
        $("#back").on("click",function(){
            window.history.back();
        });
    });
</script>
</html>