<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>产品查询</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            产品查询 <i class="fa fa-user"></i>
                            <small>
                                - 您可以通过搜索或者其他的筛选项对用户的信息进行编辑、删除等管理操作。^_^
                            </small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="post" action="/storage/list" th:action="@{/storage/list}">
                            <input type="hidden" name="pageIndex" value="1" id="fy"/>
                            <ul>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">产品</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="prodName" type="text" th:value="${prodName}"
                                                   class="form-control col-md-6 col-xs-12" value="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">仓库</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="stkWarehouse" type="text" th:value="${stkWarehouse}"
                                                   class="form-control col-md-6 col-xs-12" value="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <button type="submit" class="btn btn-primary"> 查 &nbsp;&nbsp;&nbsp;&nbsp;询</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30"></p>
                        <div id="datatable-responsive_wrapper"
                             class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatable-responsive"
                                           class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed"
                                           cellspacing="0" width="100%" role="grid"
                                           aria-describedby="datatable-responsive_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="First name: activate to sort column descending"
                                                aria-sort="ascending">序号
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                产品
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                仓库
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                货位
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                件数
                                            </th>
                                            <th class="sorting" tabindex="0"
                                                aria-controls="datatable-responsive" rowspan="1" colspan="1"
                                                aria-label="Last name: activate to sort column ascending">
                                                备注
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!--/*@thymesVar id="userPager" type="org.springframework.data.domain.Page"*/-->
                                        <tr role="row" class="odd" th:each="storage:${StoragePager.getContent()}">
                                            <td tabindex="0" class="sorting_1" th:text="${storage.stkId}">stkId</td>
                                            <td th:text="${storage.product.prodName}">prodName</td>
                                            <td th:text="${storage.stkWarehouse}">stkWarehouse</td>
                                            <td th:text="${storage.stkWare}">stkWare</td>
                                            <td th:text="${storage.stkCount}">stkCount</td>
                                            <td th:text="${storage.stkMemo}">stkMemo</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-sm-5">
                                        <div class="dataTables_info" id="datatable-responsive_info" role="status" aria-live="polite">
                                            共<span th:text="${StoragePager.totalElements}">1</span>条记录
                                            <span th:text="${StoragePager.number+1}">1</span>
                                            /
                                            <span th:text="${StoragePager.totalPages}">1</span>页
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="datatable_responsive_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button" th:if="${StoragePager.number gt 0 }">
                                                    <a href="javascript:page_nav(document.forms[0],1);"
                                                       aria-controls="datatable-responsive" data-dt-idx="0"
                                                       tabindex="0">首页</a>
                                                </li>
                                                <li class="paginate_button" th:if="${StoragePager.number gt 0 }">
                                                    <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${StoragePager.number}+');'"
                                                       aria-controls="datatable-responsive" data-dt-idx="1"
                                                       tabindex="0">上一页</a>
                                                </li>
                                                <li class="paginate_button" th:if="${(StoragePager.number+1) lt StoragePager.totalPages }">
                                                    <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${StoragePager.number+2}+');'"
                                                       aria-controls="datatable-responsive" data-dt-idx="1"
                                                       tabindex="0">下一页</a>
                                                </li>
                                                <li class="paginate_button" th:if="${(StoragePager.number+1) lt StoragePager.totalPages}">
                                                    <a href="#" th:onclick="'javascript:page_nav(document.forms[0],'+${StoragePager.totalPages}+');'"
                                                       aria-controls="datatable-responsive" data-dt-idx="7"
                                                       tabindex="0">最后一页</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="js">
    function page_nav(dom,index){
        $("#fy").val(index);
        $(dom).submit();
    }
    $(document).ready(function(){
        $("#back").on("click",function(){
            window.history.back();
        });
    });

    function doDel(obj,dictId){
        if(confirm("你确定需要删除该用户信息吗？")){
            $.ajax({
                type:"POST",
                url:"/customerbasics/del",
                data:"dictId="+dictId,
                dataType:"json",
                success:function(data){
                    if(data.delResult == "true"){//删除成功：移除删除行
                        alert("删除成功");
                        $(obj).parents("tr").remove();
                    }
                },
                error:function(data){
                    alert("对不起，删除失败");
                }
            });
        }
    }
</script>
</html>