<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>客户信息管理</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            客户服务管理>服务创建 <i class="fa fa-user"></i>
                            <small>
                                - 您可以通过搜索或者其他的筛选项对用户的信息进行编辑、删除等管理操作。^_^
                            </small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="post" action="/cstservice/add" th:action="@{/cstservice/add}">
                            <input type="hidden" name="pageIndex" value="1" id="fy"/>
                            <ul>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">客户</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">

                                            <select name="custNo" class="form-control">
                                                <option>--请选择--</option>
                                                <option  th:each="cstCustomers:${cstCustomers}" th:value="${cstCustomers.custNo}" th:text="${cstCustomers.custName}" value="">客户</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">服务类型</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="svrType" id="custRegion" class="form-control">
                                                <option>--请选择--</option>
                                                <option  th:each="leixing:${leixing}" th:value="${leixing.dictValue}" th:text="${leixing.dictValue}" value="">服务类型</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">创建人</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="svrCreateBy" type="text" th:value="${session.user.usrName}"
                                                   class="form-control col-md-6 col-xs-12" value="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">状态<span
                                                class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12" readonly="readonly"
                                                   data-validate-length-range="20"
                                                   data-validate-words="1" name="svrStatus" type="text" value="新创建">
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">概要</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="svrTitle" type="text"
                                                   class="form-control col-md-6 col-xs-12" value="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">创建时间<span
                                                class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input class="form-control col-md-7 col-xs-12" readonly="readonly"
                                                   data-validate-length-range="20"
                                                   data-validate-words="1" name="svrCreateDate" type="text" th:value="${#dates.format(new java.util.Date(),'yyyy-MM-dd hh:mm:ss')}"
                                            >
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">服务请求</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input name="svrRequest" type="textarea" th:value="${svrRequest}"
                                                   class="form-control col-md-6 col-xs-12" value="">
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <div class="form-group ">
                                <div class="col-md-6 col-md-offset-3 ">
                                    <button id="send" type="submit" class="btn btn-success">保存</button>
                                    <button type="button" class="btn btn-primary" id="back">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="js">
    function page_nav(dom,index){
        $("#fy").val(index);
        $(dom).submit();
    }

    function doDel(obj,usrId){
        if(confirm("你确定需要删除该用户信息吗？")){
            $.ajax({
                type:"POST",
                url:"/chance/del",
                data:"usrId="+usrId,
                dataType:"json",
                success:function(data){
                    if(data.delResult == "true"){//删除成功：移除删除行
                        alert("删除成功");
                        $(obj).parents("tr").remove();
                    }
                },
                error:function(data){
                    alert("对不起，删除失败");
                }
            });
        }
    }
</script>
</html>